<template>
  <div id="pageDashboard">
    <v-container grid-list-xl fluid>
      <v-layout row wrap>
        <v-flex lg8 sm12 xs12>
          <v-widget title="Sunburst" content-bg="white">
            <v-btn
              slot="widget-header-action"
              color="red lighten-1"
              @click="fetchTest"
            >
              Test
            </v-btn>
            <v-btn
              slot="widget-header-action"
              color="green lighten-1"
              :loading="loading"
              @click="fetchFlare"
            >
              Process
            </v-btn>
            <div slot="widget-content">
              <v-card class="pa-4"
                      elevation="2"
                      height="932"
                      hover
                      tile
              >
                <sunburst-chart :data="vis">
                  <!-- Add behaviors -->
                  <template slot-scope="{ nodes, actions }">
                    <highlightOnHover :nodes="nodes" :actions="actions" />
                    <zoomOnClick :nodes="nodes" :actions="actions" />
                  </template>
                  <nodeInfoDisplayer slot="top" slot-scope="{ nodes }"
                                     :current="nodes.mouseOver"
                                     :root="nodes.root"
                                     description=""
                  />
                  <breadcrumbTrail
                    slot="legend"
                    slot-scope="{ nodes, colorGetter, width }"
                    :current="nodes.mouseOver"
                    :root="nodes.root"
                    :color-getter="colorGetter"
                    :from="nodes.clicked"
                    :width="width"
                  />
                </sunburst-chart>

                <v-divider />
              </v-card>
            </div>
          </v-widget>
        </v-flex>
        <v-flex lg4>
          <document-list />
        </v-flex>
      </v-layout>
      <v-layout row wrap>
        <v-flex lg8 sm12 xs12>
          <v-widget title="Tree" content-bg="white">
            <div slot="widget-content">
              <v-card class="pa-4"
                      elevation="2"
                      height="1200"
                      hover
                      tile
              >
                <tree
                  :data="vis"
                  node-text="name"
                  layout-type="euclidean"
                  type="tree"
                  zoomable
                />
              </v-card>
            </div>
          </v-widget>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
  import VWidget from '@/components/VWidget';
  import Material from 'vuetify/es5/util/colors';
  import SunburstChart from '~/components/widgets/sunburst/SunburstChart'
  import highlightOnHover from '~/components/widgets/sunburst/highlightOnHover'
  import zoomOnClick from '~/components/widgets/sunburst/zoomOnClick'
  import breadcrumbTrail from '~/components/widgets/sunburst/breadcrumbTrail'
  import nodeInfoDisplayer from '~/components/widgets/sunburst/nodeInfoDisplayer';
  import {tree} from 'vued3tree'
  import {mapState, mapActions, mapGetters} from 'vuex';
  import DocumentList from '~/components/widgets/list/DocumentList'

  export default {
    name: 'Dashboard',
    layout: 'dashboard',
    components: {
      tree,
      SunburstChart,
      VWidget,
      breadcrumbTrail,
      highlightOnHover,
      zoomOnClick,
      DocumentList,
      nodeInfoDisplayer
    },
    data: () => ({

      color: Material,
      selectedTab: 'tab-1'
    }),
    /** -----------------------------------------------------------------------
     * COMPUTED
     * ------------------------------------------------------------------------ */
    computed: {
      ...mapState({ vis: state => state.flare.vis }),
      ...mapState({ loading: state => state.flare.loading}),


    },

    methods: {
      ...mapActions({ fetchFlare: 'flare/FETCH'}),
      ...mapActions({ process: 'flare/PROCESS'}),
      ...mapActions({ fetchTest: 'flare/TEST'}),
      ...mapActions({ fetchDocs: 'documents/FETCH'}),
    },

    async fetch ({store}) {
      await store.dispatch('DOCUMENTS');
    }



};
</script>
