<template>
  <div id="pageData">
    <v-container grid-list-xl fluid>
      <v-layout row wrap>
        <v-flex lg8 sm12 xs12>
          <v-widget title="Sunburst" content-bg="white">
            <v-btn slot="widget-header-action" icon>
              <v-icon class="text--secondary">
                refresh
              </v-icon>
            </v-btn>
            <div slot="widget-content">
              <v-card class="pa-4"
                      elevation="2"
                      height="932"
                      hover
                      tile
              >
                <visualization :data="vis" />
              </v-card>
            </div>
          </v-widget>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
  import VWidget from '@/components/VWidget'
  import Visualization from '~/components/widgets/chart/Visualization'
  import {mapState} from 'vuex'
  export default {
    name: 'Data',
    layout: 'dashboard',
    components: {
      VWidget,
      Visualization
    },
    async fetch({store}) {
      await store.dispatch('TEST');
    },
    computed: {
      ...mapState({ vis: state => state.test.data }),
    }
  };
</script>

<style scoped>

</style>
