<template>
  <div id="media" class="media">
    <v-toolbar class="elevation-0 transparent media-toolbar">
      <upload-button
        :file-changed-callback="fileChanged"
        title="Upload  "
        color="primary"
        hover
        large
        ripple
        loading
        multiple
      />
      <v-btn
        :loading="loading"
        :disabled="loading"
        color="blue-grey"
        class="white--text"
        large
        @click="submitFiles"
      >
        Submit
        <v-icon right dark>cloud_upload</v-icon>
      </v-btn>
      <v-spacer />
      <v-btn-toggle v-model="view">
        <v-btn flat value="list">
          <v-icon color="primary">
            view_headline
          </v-icon>
        </v-btn>
        <v-btn flat value="grid">
          <v-icon color="primary">
            view_list
          </v-icon>
        </v-btn>
      </v-btn-toggle>
    </v-toolbar>
    <v-divider />
    <div class="layout row media-layout">
      <div class="media-content flex transparent">
        <vue-perfect-scrollbar class="media-content--warp">
          <v-container v-if="view ==='grid'" fluid>
            <v-layout row wrap class="x-grid-lg">
              <v-flex
                v-for="(item,index) in uploads"
                :key="'folder'+ index"
                lg4
                sm12
                xs12
                class="pa-2"
              >
                <v-card tile>
                  <v-responsive height="150px">
                    <v-icon size="135" class="mx-auto" color="primary lighten-2">
                      insert_drive_file
                    </v-icon>
                  </v-responsive>
                  <v-divider />
                  <v-card-title>
                    {{ item.name }}
                    <v-spacer></v-spacer>
                    <v-btn color="primary lighten-1" small :loading="!loaded">
                      Loaded
                    </v-btn>
                  </v-card-title>
                </v-card>
              </v-flex>
            </v-layout>
          </v-container>
          <v-layout v-else column>
            <v-list dense class="transparent">
              <v-list-tile v-for="(item,index) in uploads" :key="'list-file-'+index"
                           avatar
                           @click="showDetail(item)"
              >
                <v-list-tile-avatar>
                  <v-icon>insert_drive_file</v-icon>
                </v-list-tile-avatar>
                <v-list-tile-content>
                  <div class="container pl-0">
                    <div class="layout row">
                      <div class="flex">
                        {{ item.name }}
                      </div>
                      <v-spacer />
                    </div>
                  </div>
                </v-list-tile-content>
              </v-list-tile>
            </v-list>
          </v-layout>
        </vue-perfect-scrollbar>
      </div>
    </div>
  </div>
</template>

<script>

  import UploadButton from 'vuetify-upload-button';
  import VuePerfectScrollbar from 'vue-perfect-scrollbar';
  import { mapState, mapActions } from 'vuex';
  import VWidget from '~/components/VWidget';


  /**
   * exports
   */
  export default {
    name: 'Files',
    layout: 'dashboard',
    components: {
      VWidget,
      VuePerfectScrollbar,
      'upload-button': UploadButton
    },
    props: {
      type: {
        type: String,
        default: 'image'
      },
    },
    data: () => {
      return ({
        size: 'lg',
        view: 'grid',
        selectedFile: {
          path: '/static/icon/empty_file.svg'
        },
        imageMime: [
          'image/jpeg',
          'image/png',
          'image/svg+xml'
        ],
        loader: null,
        loading: false
      });
    },
    /**
     * COMPUTED
     */
    computed: {
      ...mapState({uploads: state => state.uploads.uploads}),
      ...mapState({loaded: state => state.uploads.loaded})
    },
    /**
     * METHODS
     */
    methods: {
      ...mapActions( {
                       init: 'uploads/INIT',
                       post: 'uploads/POST',
                     } ),
      /**
       * ADD FILES TO STORE
       */
      fileChanged(files) {
        for( let index = 0; index < files.length; index++ ) {
          let file = files[index];
          this.init( file );
        }
      },
      /**
       * POST FILES TO SERVER
       */
      submitFiles() {
        let formData = new FormData();
        for ( let index = 0; index < this.uploads.length; index++) {
          formData.append('files' , this.uploads[index]);
        }
        this.post(formData);
      },
      showDetail(file) {
        this.selectedFile = file;
      },

    },
    /**
     * Watchers
     */
    watch: {
      loader() {
        const l = this.loader;
        this[l] = !this[l];
        setTimeout(() => (this[l] = false), 3000);
        this.loader = null;
      }
    }
  };
</script>
<style lang="stylus" scoped>
  .media
    &-cotent--wrap
    &-menu
      min-width: 260px
      border-right: 1px solid #EEE
      min-height: calc(100vh - 50px - 64px);

    &-detail
      min-width: 300px
      border-left: 1px solid #EEE
</style>
