<template>
  <div id="team">
    <v-container grid-list-xl fluid>
      <!--- MINI STATISTICS -->
      <v-layout row wrap>
        <v-flex sm12>
          <h4>Stats</h4>
        </v-flex>
        <v-flex lg3 sm6 xs12>
          <mini-statistic
            icon="fa fa-file"
            title="420"
            sub-title="Documents"
            color="indigo"
          />
        </v-flex>
        <v-flex lg3 sm6 xs12>
          <mini-statistic
            icon="fa fa-key"
            title="100"
            sub-title="Keywords"
            color="red"
          />
        </v-flex>
        <v-flex lg3 sm6 xs12>
          <mini-statistic
            icon="fa fa-code"
            :title="count"
            sub-title="Git Branches"
            color="green"
          />
        </v-flex>
        <v-flex lg3 sm6 xs12>
          <mini-statistic
            icon="fa fa-user"
            title="6"
            sub-title="Members"
            color="deep-purple"
          />
        </v-flex>
      </v-layout>
      <v-layout row wrap>
        <v-flex sm12>
          <h4>Members</h4>
        </v-flex>
        <v-flex v-for="(item,index) in users" :key=" 'bottom-nav' + index" lg4 sm12>
          <name-card
            v-bind="item"

          />
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

  <script>
    /**
     * IMPORTS
     */
    import NameCard from '@/components/widgets/card/NameCard';
    import MiniStatistic from '@/components/widgets/statistic/MiniStatistic';
    import {mapState, mapGetters, mapActions} from 'vuex'

    /**
     * EXPORTS
     */
    export default {
      name: 'Team',
      layout: 'dashboard',
      components: {
        NameCard,
        MiniStatistic
      },
      // DATA -----------------------------------------------------------------
      data() {
        return {
          users: [
            {
              jobTitle: 'Backend Developer & Project Director',
              name: 'Andrew Davidson',
              dark: true,
              cardBgImage: require('@/static/backgrounds/material-1.jpg'),
              avatar: {
                // src: 'https://randomuser.me/api/portraits/men/1.jpg',
                size: '36'
              },
            },
            {
              jobTitle: 'Senior DevOps Engineer',
              name: 'Khang Minh Nguyen',
              dark: true,
              cardBgImage: require('@/static/backgrounds/material-space.jpg'),
              avatar: {
                // src: 'https://randomuser.me/api/portraits/women/1.jpg',
                size: '36'
              },
            },
            {
              jobTitle: 'Full Stack Developer & Database Administrator',
              name: 'Sean Tosloskie',

              dark: true,
              cardBgImage: require('@/static/backgrounds/material-2.jpg'),
              avatar: {
                //src: 'https://randomuser.me/api/portraits/men/10.jpg',
                size: '36'
              },
            },
            {
              jobTitle: 'Backend Software Engineer',
              name: 'Nick Cason',

              cardBgImage: require('@/static/backgrounds/material-5.jpg'),
              dark: true,
              avatar: {
                //src: 'https://randomuser.me/api/portraits/men/5.jpg',
                size: '36'
              },
            },
            {
              jobTitle: 'Project Mentor',
              name: 'Capt. Mark "Forrest" Stoops',
              dark: true,
              cardBgImage: require('@/static/backgrounds/material-4.jpg'),
              avatar: {
                // src: 'https://randomuser.me/api/portraits/men/1.jpg',
                size: '36'
              },
            },
            {
              jobTitle: 'Lead Forensic Analyst',
              name: 'Manny',
              dark: true,
              cardBgImage: require('@/static/backgrounds/material-space.jpg'),
              avatar: {
                // src: 'https://randomuser.me/api/portraits/women/1.jpg',
                size: '36'
              },
            },
            {
              jobTitle: 'Lead Forensic Analyst',
              name: 'Katelynn Blades',
              dark: true,
              cardBgImage: require('@/static/backgrounds/material-space.jpg'),
              avatar: {
                // src: 'https://randomuser.me/api/portraits/women/1.jpg',
                size: '36'
              },
            },
            {
              jobTitle: 'Systems Engineer',
              name: 'Alex Tucker',
              cardBgImage: require('@/static/backgrounds/material-3.jpg'),
              dark: true,
              avatar: {
                // src: 'https://randomuser.me/api/portraits/women/1.jpg',
                size: '36'
              },
            },
          ]
        };
      },
      // ASYNC FETCH ----------------------------------------------------------
      async fetch({store}) {
        await store.dispatch('BRANCHES');
      },

      methods: {
        ...mapGetters({branch: 'branches/BRANCH_COUNT'}),
      },
      // COMPUTED -------------------------------------------------------------
      computed: {

        ...mapState({count: state => state.branches.count.toString()})
        }
    };
  </script>

<style scoped>

</style>
