<template>
  <div id="pageWelcome">
    <vue-perfect-scrollbar>
      <v-container grid-list-xl fluid>
        <!-- WELCOME BANNER -->
        <v-layout row wrap>
          <v-flex lg12>
            <v-card elevation="4" tile>
              <v-parallax :src="require('@/static/backgrounds/banner.jpg')">
                <v-layout column align-center justify-center>
                  <h1 class="white--text">
                    documeta
                  </h1>
                  <h4 class="white--text">
                    Passing smokes with brass knuckles
                  </h4>
                </v-layout>
              </v-parallax>
            </v-card>
          </v-flex>
        </v-layout>
        <!-- INFORMATION CARDS -->
        <v-layout row wrap>
          <v-flex lg4 sm12>
            <v-card elevation="4" tile>
              <v-img :src="require('@/static/backgrounds/documents.jpg')" height="250">
                <h3 class="white--text pl-3 pt-2">
                  Document Processing
                </h3>
              </v-img>
              <v-card-text>
                <div>
                  {{ cardDocumentText }}
                </div>
              </v-card-text>
              <v-divider />
              <v-card-actions>
                <v-btn flat small>
                  Files
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
          <v-flex lg4 sm12>
            <v-card elevation="4" tile>
              <v-img :src="require('@/static/backgrounds/keywords.jpg')" height="250">
                <h3 class="white--text pl-3 pt-2">
                  Data Analysis
                </h3>
              </v-img>
              <v-card-text>
                <div>
                  {{ cardDataText }}
                </div>
              </v-card-text>
              <v-divider />
              <v-card-actions>
                <v-btn flat small>
                  Keywords
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
          <v-flex lg4 sm12>
            <v-card elevation="4" tile>
              <v-img :src="require('@/static/backgrounds/data.png')" height="250">
                <h3 class="white--text pl-3 pt-2">
                  Visualization
                </h3>
              </v-img>
              <v-card-text>
                <div>
                  {{ cardVisualizationText }}
                </div>
              </v-card-text>
              <v-divider />
              <v-card-actions>
                <v-btn flat small>
                  Tool
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </vue-perfect-scrollbar>
  </div>
</template>

<script>

  import VWidget from '@/components/VWidget'
  import VuePerfectScrollbar from 'vue-perfect-scrollbar';


  export default {
    // -------------------- GENERAL
    name: 'Welcome',
    layout: 'dashboard',
    components: {
      VuePerfectScrollbar,
      VWidget
    },

    // DATA -------------------------------------------------------------------
    data() {
      return {
        show: true,
        cardDocumentText: 'Documeta aims to provides its users insights into their document collections by breaking down text data into meaningful information',
        cardDataText: 'Identifies and tracks keyword matches and creates high-level, metadata groupings and classification of documents',
        cardVisualizationText: 'Navigate and explore text data information inside an intuitive interface'
      }
    }




  };
</script>

<style scoped>

</style>
