<template>
  <v-navigation-drawer
    :dark="$vuetify.dark"
    :mini-variant.sync="mini"
    app
    fixed
    id="appDrawer"
    v-model="drawer"
    width="260"
  >
    <v-toolbar color="primary darken-1" dark>
      <img alt="Vue Material Admin Template" height="28" src="../static/docker-darken.svg">
      <v-toolbar-title class="ml-0 pl-3">
        <span class="hidden-sm-and-down">documeta</span>
      </v-toolbar-title>
    </v-toolbar>
    <vue-perfect-scrollbar :settings="scrollSettings" class="drawer-menu--scroll">
      <v-list dense expand>
        <template v-for="(item, i) in menus">
          <!--group with subitems-->
          <v-list-group :group="item.group" :key="item.name" :prepend-icon="item.icon" no-action="no-action"
                        v-if="item.items">
            <v-list-tile ripple="ripple" slot="activator">
              <v-list-tile-content>
                <v-list-tile-title>{{ item.title }}</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
            <template v-for="(subItem, i) in item.items">
              <!--sub group-->
              <v-list-group :group="subItem.group" :key="subItem.name" sub-group="sub-group" v-if="subItem.items">
                <v-list-tile ripple="ripple" slot="activator">
                  <v-list-tile-content>
                    <v-list-tile-title>{{ subItem.title }}</v-list-tile-title>
                  </v-list-tile-content>
                </v-list-tile>
                <v-list-tile :key="i" :to="grand.href? grand.href : null" ripple="ripple"
                             v-for="(grand, i) in subItem.children">
                  <v-list-tile-content>
                    <v-list-tile-title>{{ grand.title }}</v-list-tile-title>
                  </v-list-tile-content>
                </v-list-tile>
              </v-list-group>
              <!--child item-->
              <v-list-tile :disabled="subItem.disabled" :key="i" :target="subItem.target"
                           :to="subItem.href? subItem.href : null" ripple="ripple" v-else>
                <v-list-tile-content>
                  <v-list-tile-title><span>{{ subItem.title }}</span></v-list-tile-title>
                </v-list-tile-content>
                <v-list-tile-action v-if="subItem.action">
                  <v-icon :class="[subItem.actionClass || 'success--text']">{{ subItem.action }}</v-icon>
                </v-list-tile-action>
              </v-list-tile>
            </template>
          </v-list-group>
          <v-subheader :key="i" v-else-if="item.header">{{ item.header }}</v-subheader>
          <v-divider :key="i" v-else-if="item.divider"></v-divider>
          <!--top-level link-->
          <v-list-tile :disabled="item.disabled" :key="item.name" :target="item.target"
                       :to="item.href ? item.href : null" rel="noopener" ripple="ripple" v-else>
            <v-list-tile-action v-if="item.icon">
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>{{ item.title }}</v-list-tile-title>
            </v-list-tile-content>
            <v-list-tile-action v-if="item.subAction">
              <v-icon class="success--text">{{ item.subAction }}</v-icon>
            </v-list-tile-action>
          </v-list-tile>
        </template>
      </v-list>
    </vue-perfect-scrollbar>
  </v-navigation-drawer>
</template>
<script>
  import menu from '@/api/menu';
  import VuePerfectScrollbar from 'vue-perfect-scrollbar';

  export default {
    name: 'app-drawer',
    components: {
      VuePerfectScrollbar,
    },
    props: {
      expanded: {
        type: Boolean,
        default: true
      },
    },
    data: () => ({
      mini: false,
      menus: menu,
      scrollSettings: {
        maxScrollbarLength: 160
      }
    }),
    computed: {
      drawer: {
        get() {
          return this.$store.state.drawer;
        },
        set(val) {
          this.$store.commit( 'drawer', val );
        }
      },
      computeGroupActive() {
        return true;
      },
      sideToolbarColor() {
        return this.$vuetify.options.extra.sideNav;
      }
    },
    methods: {
      genChildTarget(item, subItem) {
        if( subItem.href ) return;
        if( subItem.component ) {
          return {
            name: subItem.component,
          };
        }
        return { name: `${ item.group }/${ (subItem.name) }` };
      },
    }
  };
</script>


<style lang="stylus" scoped="local">
  #appDrawer
    overflow: hidden

    .drawer-menu--scroll
      height: calc(100vh - 48px)
      overflow: auto

  .v-toolbar
    font-family : "Montserrat"
    letter-spacing : 0.2em

</style>
