<template>
  <v-toolbar
    color="primary"
    fixed
    dark
    app
  >
    <v-toolbar-title class="ml-0 pl-3">
      <v-toolbar-side-icon @click.stop="toggleDrawer()"></v-toolbar-side-icon>
    </v-toolbar-title>
    <v-text-field
      flat
      solo-inverted
      prepend-icon="search"
      label="Search"
      class="hidden-sm-and-down"
    >
    </v-text-field>
    <v-spacer></v-spacer>
    <v-btn icon href="https://git-community.cs.odu.edu/microsoft-support/documeta">
      <v-icon>fa-2x fa-gitlab</v-icon>
    </v-btn>
    <v-btn icon @click="handleFullScreen()">
      <v-icon>fullscreen</v-icon>
    </v-btn>
 </v-toolbar>
</template>
<script>

  import Util from '@/util';

  export default {
    name: 'app-toolbar',
    components: {
    //  NotificationList
    },
    data: () => ({
      items: [
        {
          icon: 'fullscreen_exit',
          href: '#',
          title: 'Logout',
          click: (e) => {
            this.$router.push( '/logout' );
          }
        }
      ],
    }),
    computed: {
      toolbarColor() {
        return this.$vuetify.options.extra.mainNav;
      }
    },
    methods: {
      toggleDrawer() {
        this.$store.commit( 'toggleDrawer' );
      },
      handleFullScreen() {
        Util.toggleFullScreen();
      }
    }
  };
</script>
