
<template>
  <v-card>
    <v-toolbar card dense color="transparent">
      <v-toolbar-title><h4>Documents</h4></v-toolbar-title>
      <v-spacer />
      <v-btn icon>
        <v-icon>more_vert</v-icon>
      </v-btn>
    </v-toolbar>
    <v-divider />
    <v-card-text class="pa-0">
      <template>
        <v-data-table
          :headers="headers"
          :items="documents"
          rows-per-page-text="10"
          class="elevation-1 table-striped"
        >
          <template slot="items" slot-scope="props">
            <td>{{ props.item.id }}</td>
            <td class="text-xs-left">
              {{ props.item.file_name }}
            </td>
          </template>
        </v-data-table>
      </template>
      <v-divider />
    </v-card-text>
  </v-card>
</template>

<script>
  import {mapState, mapActions, mapGetters} from 'vuex';

  export default {
    name: 'DocumentList',
    data() {
      return {
        headers: [
          {
            text: 'ID',
            align: 'left',
            sortable: true,
            value: 'id'
          },
          { text: 'File', value: "file_name"},
        ],
      };
    },
    computed: {
      ...mapState( { documents: state => state.documents.docs } )
    }
  };
</script>
