<template>
  <v-card>
    <v-toolbar card dense color="transparent">
      <v-toolbar-title><h4>Order</h4></v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn icon>
        <v-icon>more_vert</v-icon>
      </v-btn>
    </v-toolbar>
    <v-divider></v-divider>
    <v-card-text class="pa-0">
      <template>
        <v-data-table
          :headers="headers"
          :items="items"
          hide-actions
          class="elevation-0 table-striped"
        >
          <template slot="items" slot-scope="props">
            <td>{{ props.item.id }}</td>
            <td class="text-xs-left">{{ props.item.name }}</td>
            <td class="text-xs-left">{{ props.item.price }}</td>
          </template>
        </v-data-table>
      </template>
      <v-divider></v-divider>
    </v-card-text>
  </v-card>
</template>

<script>
  import items from '@/api/order';

  export default {
    data() {
      return {
        headers: [
          {
            text: '#',
            align: 'left',
            sortable: false,
            size: 'id'
          },
          { text: 'Name', size: 'deadline' },
          { text: 'Price', size: 'progress' },
          { text: 'Status', size: 'status' },
        ],
        items: items,
        colors: {
          processing: 'blue',
          sent: 'red',
          delivered: 'green'
        }
      };
    },
    computed: {
      randomColor() {
        let item = Math.floor( Math.random() * this.colors.length );
        return this.colors[item];
      },
    },
    methods: {
      getColorByStatus(status) {
        return this.colors[status];
      },
    }
  };
</script>
