<template>
  <div class="graph">
    <div class="viewport">
  <slot :node="graphNodes" :actions="actions" />
  </div>
  </div>
</template>

<script>
  import * as d3 from 'd3';
  import { select } from 'd3';
  import { arc } from 'd3';

  import { scaleLinear, scaleSqrt } from "d3";
  import { hierarchy, partition } from "d3";
  import { interpolate } from "d3";
  function recursiveName(node) {
    const res = node
      .ancestors()
      .map(node => node.data.name)
      .join("-");
    return res;
  }

  function arcVisible(d) {
    return d.y1 <= 3 && d.y0 >= 1 && d.x1 > d.x0;
  }

  function labelVisible(d) {
    return d.y1 <= 3 && d.y0 >= 1 && (d.y1 - d.y0) * (d.x1 - d.x0) > 0.03;
  }

  function labelTransform(d) {
    const x = (d.x0 + d.x1) / 2 * 180 / Math.PI;
    const y = (d.y0 + d.y1) / 2 * radius;
    return `rotate(${x - 90}) translate(${y},0) rotate(${x < 180 ? 0 : 180})`;
  }

  const format = d3.format(",d");
  const width = 932;
  const radius = width / 6;

  export default {
    name: 'Visualization',

    components: {
      d3
    },

    props: {
      data: {
        type: Object,
        required: false
      },
      /**
       * Function used to identify an arc, will be used during graph updates.
       * (nodeD3: Object) => id: String
       * @default id based on recursive agregation of node parent name
       */
      arcIdentification: {
        type: Function,
        required: false,
        default: recursiveName
      },
    },

    data() {
      this.arc = d3.arc()
                    .startAngle(d => d.x0)
                    .endAngle(d => d.x1)
                    .padAngle(d => Math.min((d.x1 - d.x0) / 2, 0.005))
                    .padRadius(radius * 1.5)
                    .innerRadius(d => d.y0 * radius)
                    .outerRadius(d => Math.max(d.y0 * radius, d.y1 * radius - 1));
      return {
        graphNodes: {
          clicked: null,
          zoomed: null,
          root: null,
        },
        width: 932,
        height: 932
      }
    },
    computed: {
      color() {

        return d3.scaleOrdinal().range(d3.quantize(d3.interpolateRainbow, d => (d.children.length + 1)));
      },
      actions() {
        return {
          zoomToNode: this.zoomToNode.bind(this)
        }
      }
    },

    watch: {
      data: {
        handler(current) {
          this.onData( current );
        },
        deep: true
      },
    },
    mounted() {

      this.viewport = viewport;
      this.vis = select(viewport)
        .append("svg")
        .style("class", "root")
        .style("width", "100%")
        .style("height", "auto")
        .style("font", "10px roboto")
        .append("g")
        .attr("transform", `translate(${width / 2},${width / 2})`);

    },
    methods: {
      partition(data) {
        this.root = d3.hierarchy(data)
                       .sum(d => d.size)
                       .sort((a, b) => b.value - a.value);
        this.nodes = d3.partition()
                 .size([2 * Math.PI, root.height + 1])
                 (this.root);

        const path = this.getPath();
        const label = this.getLabel();
        const parent = this.getParent();
        const click = this.clicked.bind(this);
        const {arc} = this;

        path.join("path")
            .attr("fill", d => {
               while (d.depth > 1) {
                 d = d.parent;
               }
               return this.color(d.data.name);
               })
            .attr("fill-opacity", d => arcVisible(d.current) ? (d.children ? 0.6 : 0.4) : 0)
            .attr("d", d => this.arc(d.current));

        path.filter(d => d.children)
            .style("cursor", "pointer")
            .on("click", click);

        path.append("title")
            .text(d => `${d.ancestors().map(d => d.data.name).reverse().join("/")}\n${format(d.value)}`);

        label.join("text")
                       .attr("dy", "0.35em")
                       .attr("fill-opacity", d => +labelVisible(d.current))
                       .attr("transform", d => labelTransform(d.current))
                       .text(d => d.data.name);

        parent.on("click", click);
        this.graphNodes.root = this.nodes[0];
        },
      /**
       * return path
       */
      getPath() {
        return this.vis
          .append("g")
          .selectAll("path")
          .data(this.nodes, this.arcIdentification);

      },

      getLabel() {
        return this.vis
          .append("g")
                   .attr("pointer-events", "none")
                   .attr("text-anchor", "middle")
                   .style("user-select", "none")
                   .selectAll("text")
                   .data(this.nodes, this.arcIdentification);
      },
      getParent() {
        return this.vis.append("circle")
                   .datum(this.root)
                   .attr("r", this.radius)
                   .attr("fill", "none")
                   .attr("pointer-events", "all")
      },
      clicked( p ) {
        this.graphNodes.clicked = p;
        parent.datum( p.parent || this );
        this.graphNodes.root.each( d => d.target = {
        x0: Math.max( 0, Math.min( 1, (d.x0 - p.x0) / (p.x1 - p.x0) ) ) * 2 * Math.PI,
        x1: Math.max( 0, Math.min( 1, (d.x1 - p.x0) / (p.x1 - p.x0) ) ) * 2 * Math.PI,
        y0: Math.max( 0, d.y0 - p.depth ),
        y1: Math.max( 0, d.y1 - p.depth )

      }),
        this.$emit("clickNode", { node: p, sunburst: this });
        ;
      }
    },
    zoomToNode(node) {
        this.vis.transition().duration(750).tween("data", d => {
              const i = d3.interpolate(d.current, d.target);
              return t => d.current = i(t);
            })
            .filter(function (d) {
              return +this.getAttribute("fill-opacity") || arcVisible(d.target);
            })
            .attr("fill-opacity", d => arcVisible(d.target) ? (d.children ? 0.6 : 0.4) : 0)
            .attrTween("d", d => () => arc(d.current));
        this.graphNodes.zoomed = node;
    }


  };
</script>

<style lang="less" scoped>
  .graph {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
  }
  .viewport{
    width: 100%;
    flex:  1 1 auto;
  }
</style>
